<table>
 <% if @favorites.empty? %>
  <h2>There is no favorites</h2>
 <% else $>
  <h2>My favorites list</h2>
  <tr>
  <tr>
   <th>Poster</th>
   <th>Title</th>
   <th>Text</th>
   <th>Image</th>
  </tr>
<% end %>

  <% @favorites.each do |favorite| %>
    <tr>
      <% if favorite.user_id == current_user.id %>
      <td><%= favorite.picture.user.name %></td>
      <td><%= favorite.picture.title %></td>
      <td><%= favorite.picture.content %></td>
      <% if favorite.picture.image.url %>
        <td><% = image_tag favorite.picture.image.url %></td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>
  





